.cart{
    width: 100%;
}
.cartContainer{
    margin: 20px;
}
.cartProduct-info{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    border: 2px solid rgb(225, 221, 221);
    box-shadow: 2px 2px 2px 2px rgba(214, 213, 213,0.7);
    width: 80vw;
    margin: auto;
    margin-bottom: 1rem;

    & .cartProduct-category{
        background-color: antiquewhite;
        padding:5px 10px;
        border-radius: 20px;
        display: inline-block;
        margin-top: 2.7rem;
    }
    & .productImg{
        height: 7rem;
    }

    & .product-name{
        margin: auto 0;
        font-size: 2rem;
    }

    & .cartProduct-price{
        margin: auto 0;
        font-size: 1.5rem;
    }
    & .ProductQuantityElement{
        margin: auto 0;
        border: 2px solid rgb(225, 221, 221);
    }
    & .remove-btn{
        height: 3rem;
        margin: auto 0;
        width: 15rem;
        padding: 0.9rem 1rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;
        &:active{
            background-color: wheat;
            color:black;
            cursor: pointer;
        }
    }
}
.productTotalContainer{
    /* border: 2px solid red; */
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 2rem;
    margin: auto;
    /* float: right; */
    /* margin-right: 10rem; */
    border: 2px solid rgb(225, 221, 221);
    box-shadow: 2px 2px 2px 2px rgba(214, 213, 213,0.7);
    
    & .subTotal{
        margin-top: 1rem;
        display: flex;
        gap: 4rem;
    }
    & .tax{
        margin-bottom: 1rem;
        display: flex;
        gap: 7.5rem;
    }
    & .total{
        display: flex;
        gap: 2rem;
        margin-top: 0.5rem;
    }
}
.remove-btn2{
    height: 3rem;
    margin: auto 0;
    width: 18rem;
    padding: 0.9rem 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    &:active{
        background-color: wheat;
        color:black;
        cursor: pointer;
    }
}

@media screen and (max-width:1120px) {
    .cartProduct-info{
        display: grid;
        /* flex-direction: column; */
        /* width: 20vw; */
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        /* justify-content: space-evenly; */
        border: 2px solid rgb(225, 221, 221);
        box-shadow: 2px 2px 2px 2px rgba(214, 213, 213,0.7);
        /* margin: auto; */
        margin-bottom: 1rem;
    }
    /*
    .remove-btn{
        height: 3rem;
        margin: auto 0;
        width: 10rem;
        padding: 0.9rem 1rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;
        &:active{
            background-color: wheat;
            color:black;
            cursor: pointer;
        }
        
    }
        */
    .ProductQuantityElement {
        display: flex;
        border: 2px solid rgb(225, 221, 221);
        margin-left: 2rem;
        width:10rem;
    }
}

@media screen and (max-width:785px) {
    .cartProduct-info{
        display: grid;
        /* flex-direction: column; */
        /* width: 20vw; */
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        /* justify-content: space-evenly; */
        border: 2px solid rgb(225, 221, 221);
        box-shadow: 2px 2px 2px 2px rgba(214, 213, 213,0.7);
        /* margin: auto; */
        margin-bottom: 1rem;
    }
    /*
    .remove-btn{
        height: 3rem;
        margin: auto 0;
        width: auto;
        padding: 0.9rem 0.2rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;
        &:active{
            background-color: wheat;
            color:black;
            cursor: pointer;
        }
    }
        */
}
@media screen and (max-width:500px) {
    .cartProduct-info{
        margin-bottom: 1rem;
        display: grid;
        /* flex-direction: column; */
        /* width: 20vw; */
        grid-template-columns: repeat(1,1fr);
        gap: 0.1rem;
        /* align-items: center;
        justify-content: center; */
        text-align: center;
        /* justify-content: space-evenly; */
        border: 2px solid rgb(225, 221, 221);
        box-shadow: 2px 2px 2px 2px rgba(214, 213, 213,0.7);
        /* margin: auto; */
    }

    .remove-btn{
        height: 3rem;
        width: auto;
        margin: auto 0;
        padding: 0.9rem 0.2rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;
        &:active{
            background-color: wheat;
            color:black;
            cursor: pointer;
        }
    }
    .ProductQuantityElement {
        width:10rem;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* align-items: center; */
        /* margin: auto; */
        border: 2px solid rgb(225, 221, 221);
        /* background-color: blue; */
        margin-left: 2rem;
    }
    /*
    .remove-btn{
        height: 2rem;
        margin: auto 0;
        width: auto;
        padding: 0.9rem 0.2rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border-radius: 0.5rem;
        cursor: pointer;
        overflow: visible;
        &:active{
            background-color: wheat;
            color:black;
            cursor: pointer;
        }
    }
*/
    .productTotalContainer{
        /* border: 2px solid red; */
        /* display: inline-block; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        padding: 2rem;
        margin: auto;
        /* float: right; */
        /* margin-right: 10rem; */
        border: 2px solid rgb(225, 221, 221);
        box-shadow: 2px 2px 2px 2px rgba(214, 213, 213,0.7);
        
        & .subTotal{
            margin-top: 1rem;
            display: flex;
            gap: 4rem;
        }
        & .tax{
            margin-bottom: 1rem;
            display: flex;
            gap: 7.5rem;
        }
        & .total{
            display: flex;
            gap: 2rem;
            margin-top: 0.5rem;
        }
    }
}